SkgPsRjcCz8LQJDk.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Générer 3 Concepts": {
      "main": [
        [
          {
            "node": "Idées Lugubres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idées Lugubres": {
      "main": [
        [
          {
            "node": "Remplir USINE_AVATAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-14T09:10:47.930Z",
  "id": "SkgPsRjcCz8LQJDk",
  "isArchived": false,
  "meta": null,
  "name": "05_Generateur_Idees_Notion_Seul",
  "nodes": [
    {
      "parameters": {},
      "id": "f89c6e17-9864-4691-bad5-2f7b56bfde44",
      "name": "Générer 3 Concepts",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"nom\": \"Le Vampire Aristocrate\",\n    \"id_avatar\": \"AVT_VAMP\",\n    \"prompt\": \"Cinematic horror portrait, centuries-old elegant vampire, pale porcelain skin, sharp cold aristocratic features, piercing crimson bloodshot eyes, subtle trace of fresh glossy blood dripping from the corner of the lip, sharp fangs slightly visible, wearing a high-collar dark velvet victorian coat, dim flickering candlelight background, gothic castle interior, extreme details, sub-surface scattering\",\n    \"negatif\": \"modern clothing, sunglasses, cartoon, fake teeth, happy, sunlight, bright, 3d render, plastic skin\",\n    \"description\": \"Un prédateur nocturne raffiné mais impitoyable, dissimulé sous des traits nobles.\",\n    \"style\": \"Gothique Classique\"\n  },\n  {\n    \"nom\": \"La Goule des Cimetières\",\n    \"id_avatar\": \"AVT_GOULE\",\n    \"prompt\": \"Gritty horror shot, a feral ghoul, emaciated skeletal human form, leathery ash-grey skin stretched tight, long jagged yellow claws, wide unhinged jaw filled with rotting teeth, feasting in a dark muddy open grave at night, wet dirt textures, high contrast, dramatic shadows, moonlight volumetric fog\",\n    \"negatif\": \"alive, healthy, clean skin, clothing, bright, indoor, sci-fi, cartoon, drawing, neon\",\n    \"description\": \"Une créature charognarde et décharnée qui hante les tombes fraîches.\",\n    \"style\": \"Monstre / Corporel\"\n  },\n  {\n    \"nom\": \"Le Loup-Garou en Mutation\",\n    \"id_avatar\": \"AVT_LOUP\",\n    \"prompt\": \"Dark cinematic close up, mid-transformation werewolf, aggressive snarling expression, terrifying hybrid face, thick coarse wolf fur tearing through bloody human skin, glowing amber predatory eyes, elongated snout with massive wet fangs, spit and saliva, dark dense misty forest at night, full moon backlight, intense dramatic atmosphere\",\n    \"negatif\": \"friendly wolf, puppy, full wolf, human face, clean, day, sunny, cute, cartoon, 3d animation\",\n    \"description\": \"La bête sauvage prise en plein milieu d'une transformation douloureuse et brutale.\",\n    \"style\": \"Cinématique / Bestial\"\n  }\n];"
      },
      "id": "655baab4-17b2-438f-b1cc-5f3285cb10b9",
      "name": "Idées Lugubres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        496,
        272
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "36001785-9972-804b-84d1-eedf482ed381",
          "mode": "list",
          "cachedResultName": "USINE_AVATAR_V1",
          "cachedResultUrl": "https://www.notion.so/360017859972804b84d1eedf482ed381"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nom|title",
              "title": "={{ $json.nom }}"
            },
            {
              "key": "ID Avatar|rich_text",
              "textContent": "={{ $json.id_avatar }}"
            },
            {
              "key": "Prompt de base|rich_text",
              "textContent": "={{ $json.prompt }}"
            },
            {
              "key": "Prompt négatif|rich_text",
              "textContent": "={{ $json.negatif }}"
            },
            {
              "key": "Description|rich_text",
              "textContent": "={{ $json.description }}"
            },
            {
              "key": "Style visuel|select",
              "selectValue": "={{ $json.style }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5873ee6f-2fc5-4b62-9e92-1d264c036ade",
      "name": "Remplir USINE_AVATAR",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        720,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "3Y82e5htbJKej6mp",
          "name": "Notion account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "pheni6",
    "name": "influenceurhorreur"
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-14T09:10:47.932Z",
      "createdAt": "2026-05-14T09:10:47.932Z",
      "role": "workflow:owner",
      "workflowId": "SkgPsRjcCz8LQJDk",
      "projectId": "hnipETLsZvgOmOcj"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-16T04:50:32.299Z",
  "versionId": "9981b81f-52d8-4ad1-94ce-54fde33506db"
}